#container{
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
}
.div{
    border: 1px solid;
    width: 14px;
    height: 14px;
    
}
.colored {
    
    /*
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    */
}